<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
   <title>WROOM</title>

   <!-- Google font file. If you want you can change. -->
   <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">

   <!-- Fontawesome font file css -->
   <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

   <!-- Animate css file for css3 animations. for more : https://daneden.github.io/animate.css -->
   <!-- Only use animate action. If you dont use animation, you don't have to add.-->
   <link rel="stylesheet" type="text/css" href="/css/animate.css">
   <link rel="stylesheet" type="text/css" href="/css/cryptocoins.css">
   <link rel="stylesheet" type="text/css" href="/plugins/c3-chart/c3.css">

   <!-- Template global css file. Requared all pages -->
   <link rel="stylesheet" type="text/css" href="/css/global.style.css">

   <!-- Swiper slider css file -->
   <link rel="stylesheet" href="/css/swiper.min.css">

   <!--turbo slider plugin css file -->
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/plugins/turbo-slider/turbo.css">
</head>

<body>
   <div class="wrapper ">
      <div class="nav-menu">
         <nav class="menu">
            <!-- Menu navigation start -->
            <div class="nav-container">
               <ul class="main-menu">
                  <li class="active">
                     <a href="index.html"><img src="/img/content/icons/1.png" alt=""><strong class="special">Dashboard</strong> </a>
                  </li>
                  <li class="">
                     <a href="wallet.html"><img src="/img/content/icons/2.png" alt=""><strong class="special">My Walet</strong> </a>
                  </li>
                  <li class="">
                     <a href="trading.html"><img src="/img/content/icons/3.png" alt=""><strong class="special">Crypto Trade</strong> </a>
                  </li>
                  <li class="">
                     <a href="buy-sell.html"><img src="/img/content/icons/6.png" alt=""><strong class="special">Buy & sell</strong> </a>
                  </li>
                  <li class="">
                     <a href="profile.html"><img src="/img/content/icons/5.png" alt=""><strong class="special">Trader Profile</strong> </a>
                  </li>
                  <li class="">
                     <a href="affiliate.html"><img src="/img/content/icons/4.png" alt=""><strong class="special">Affiliate System</strong> </a>
                  </li>
                  <li class="">
                     <a href="setting.html"><img src="/img/content/icons/11.png" alt=""><strong class="special">Settings</strong> </a>
                  </li>
                  <li>
                     <a href="javascript:void(0);"><img src="/img/content/icons/9.png" alt=""><strong class="special">Login/Register</strong> <span class="fa fa-angle-down"></span></a>
                     <ul>
                        <li><a href="login.html" data-loader="show">Login</a></li>
                        <li><a href="signup.html" data-loader="show">Register</a></li>
                        <li><a href="forgot-password.html" data-loader="show">Forgot Password</a></li>
                     </ul>
                  </li>

                  <li>
                     <a href="javascript:void(0);"><img src="/img/content/icons/8.png" alt=""> <strong class="special">Wizards</strong> <span class="fa fa-angle-down"></span></a>
                     <ul>
                        <li><a href="wizard-default.html" data-loader="show">Wizard Default</a></li>
                        <li><a href="wizard-fullscreen.html" data-loader="show">Wizard Fullscreen</a></li>
                     </ul>
                  </li>
                  <li class="">
                     <a href="charts.html"><img src="/img/content/icons/14.png" alt=""><strong class="special">Charts</strong> </a>
                  </li>
                  <li>
                     <a href="forms.html" data-loader="show"><img src="/img/content/icons/7.png" alt=""><strong class="special">Form Elements</strong></a>
                  </li>
                  <li>
                     <a href="#"><img src="/img/content/icons/10.png" alt=""><strong class="special"> Components</strong> <span class="fa fa-angle-down"></span></a>
                     <ul>
                        <li><a href="tab-bottom.html" data-loader="show">Tab (Bottom)</a></li>
                        <li><a href="tab-top.html" data-loader="show">Tab (Top)</a></li>
                        <li><a href="accordion.html" data-loader="show">Accordion</a></li>
                        <li><a href="popup.html" data-loader="show">Popup Modal</a></li>
                        <li><a href="checkbox-list.html" data-loader="show">Check List</a></li>
                        <li><a href="link-list.html" data-loader="show">Link List</a></li>
                        <li><a href="link-list-two-column.html" data-loader="show">Two Column Links</a></li>
                     </ul>
                  </li>
                  <li class="">
                     <a href="#"><img src="/img/content/icons/15.png" alt=""><strong class="special"> Pages</strong> <span class="fa fa-angle-down"></span></a>
                     <ul>
                        <li class=""><a href="profile.html" data-loader="show">User Profile</a></li>
                        <li><a href="search-result.html" data-loader="show">Search Results</a></li>
                        <li><a href="contact.html" data-loader="show">Contact</a></li>
                        <li><a href="blank.html" data-loader="show">Blank Page</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         <!-- Menu navigation end -->
         </nav>
      </div>
         <div class="wrapper-inline">
            <!-- Header area start -->
            <header> <!-- extra class no-background -->
               <a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
               <h1 class="page-title"><%=categoryName%></h1>
               <div class="navi-menu-button">
                  <em></em>
                  <em></em>
                  <em></em>
               </div>
            </header>
         <!-- Header area end -->

         <!-- Page content start -->
         <!-- 배경 색 변경은 global.style.css에서 .balance-card-->
         <main class="margin mt-0">
            <div class="dash-balance">
                  <h3 class="b-text"></h3><!--둘 중에 하나 지우기-->
            </div>

            <section class="bal-section container">
               <div class="balance-card mb-15">
                  <div class="d-flex align-items-center">
                           <div class="d-flex flex-grow">
                             <div class="mr-auto">
                           <h5 class="w-text"><%=payDate%></h5></br></br>
                           <div class="transferAllPart">
                              <h1 class="b-val" id="transferValAll">￦ <%=totalAmount%></h1>
                              <p class="g-text mb-10" id="transferNEEDAll">전체 금액</p>
                              <h1 class="b-text"></h1>
                           </div>
                           <div class="transferValPart">
                              <h1 class="b-val" id="transferVal">￦ <%=payAmount%></h1>
                              <p class="g-text mb-10" id="transferNEED">송금해야할 금액</p>
                              <button id="transferBtn" class="btn btn-light">송금하기</button>
                              <button id="showBalanceBtn" class="btn btn-light">잔액 조회하기</button>
                              <h1 class="b-text"></h1>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </section>

            <section class="container">
               <h4 class="title-main">그룹 송금 현황</h4>
               <ul id="groupList" class="transaction-list list-unstyled">
                  <!-- 그룹 송금 현황 붙여주는 곳! -->
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                             <div class="d-flex align-items-center">
                               <img id="checked" class="img-xs" src="/img/content/check.png" alt="coin image">
                               <div class="ml-10">
                                                                  <!--송금을 하면 체크 이미지가 생김-->
                                 <h4 id="username3" class="coin-name">윤정인</h4>
                                 <small id="payedData3" class="text-muted">09-21</small>
                               </div>
                             </div>
                             <div>
                               <small id="payedAmount3" class="text-muted d-block">￦ 139,058</small>
                             </div>
                           </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                             <div class="d-flex align-items-center">
                               <img id="checked" class="img-xs" src="/img/content/check.png" alt="coin image">
                               <div class="ml-10">
                                                                  <!--송금을 하면 체크 이미지가 생김-->
                                 <h4 id="username3" class="coin-name">정효인</h4>
                                 <small id="payedData3" class="text-muted">09-21</small>
                               </div>
                             </div>
                             <div>
                               <small id="payedAmount3" class="text-muted d-block">￦ 139,058</small>
                             </div>
                           </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img id="uncheckedD" class="img-xs" src="/img/content/uncheck.png" alt="coin image">
                           <div class="ml-10">
                              <!--송금을 하면 체크 이미지가 생김-->
                              <h4 id="username" class="coin-name">김단아</h4>
                              <small id="payedData" class="text-muted">미송금</small>
                           </div>
                        </div>
                        <div>
                           <small id="payedAmount" class="text-muted d-block">￦ 0</small>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img id="uncheckedD" class="img-xs" src="/img/content/uncheck.png" alt="coin image">
                           <div class="ml-10">
                              <!--송금을 하면 체크 이미지가 생김-->
                              <h4 id="username" class="coin-name">최정윤</h4>
                              <small id="payedData" class="text-muted">미송금</small>
                           </div>
                        </div>
                        <div>
                           <small id="payedAmount" class="text-muted d-block">￦ 0</small>
                        </div>
                     </div>
                  </li>
                  <li>
                     <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                           <img id="uncheckedD" class="img-xs" src="/img/content/uncheck.png" alt="coin image">
                           <div class="ml-10">
                              <!--송금을 하면 체크 이미지가 생김-->
                              <h4 id="username" class="coin-name">김수지</h4>
                              <small id="payedData" class="text-muted">미송금</small>
                           </div>
                        </div>
                        <div>
                           <small id="payedAmount" class="text-muted d-block">￦ 0</small>
                        </div>
                     </div>
                  </li>
               </ul>
               <hr/>
            </section>

            <footer>
               <div class="container">
                  <ul>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-google"></i></a></li>
                     <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     <p id="dutchpayID" val="<%=dutchpayID%>"></p>
                  </ul>
                  <p>Copyright © All Right Reserved</p>
               </div>
            </footer>
         </main>
         <!-- Page content end -->
      </div>
   </div>

   <!--Page loader DOM Elements. Requared all pages-->
   <div class="sweet-loader">
      <div class="box">
           <div class="circle1"></div>
           <div class="circle2"></div>
           <div class="circle3"></div>
      </div>
   </div>

   <!-- JQuery library file. requared all pages -->
   <script src="/js/jquery-3.2.1.min.js"></script>

   <!-- Swiper JS -->
   <script src="/js/swiper.min.js"></script>

    <!-- Initialize Swiper -->

   <!-- Flot Charts -->
   <script src="/plugins/c3-chart/c3.min.js"></script>
   <script src="/plugins/c3-chart/d3.min.js"></script>
   <script src="/plugins/c3-chart/c3.custom.js"></script>
     <!-- Flot Charts -->
   <script src="/plugins/flot/jquery.flot.min.js"></script>
   <script src="/plugins/flot/jquery.flot.time.min.js"></script>
   <script src="/plugins/flot/jquery.flot.pie.min.js"></script>
   <script src="/plugins/flot/jquery.flot.tooltip.min.js"></script>
   <script src="/plugins/flot/jquery.flot.resize.min.js"></script>
    <!-- Sparkline-->
    <script src="/plugins/jquery-sparkline/jquery.sparkline.js"></script>

   <!-- Template global script file. requared all pages -->
   <script src="/js/app-charts.js"></script>
   <script src="/js/global.script.js"></script>

   <!-- bootstrap js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   

   <script>
      var hide_status = '/payment/bill';
      var transfer_token = '/transfer/token';
      var transfer_balance = '/transfer/balance';
      var transfer_widraw = '/transfer/withdraw';
      var transfer_deposit = '/transfer/deposit';
      var transfer_pay = '/transfer/payed';

      var dutchpayID = $('#dutchpayID').val();
      history.replaceState({}, null, location.pathname);

      var jwtToken = sessionStorage.getItem('jwtToken');
      var transferVal = $('#transferVal').text();
      var ENV_URL = "localhost";

      /* $(document).ready(function() {
         // 환경변수 가져오기
			$.ajax({
				url: 'http://115.85.183.143:3000/main/env',
				type: 'GET',
				success: function(data) {
               ENV_URL = data;
					console.log(data);
					console.log("클라우드에서 접속");
				},
				error: function(request, status, error) {
					console.log("로컬에서 접속");
				}
         });
      }); */

      function hidestatus() {
         window.status= hide_status;
         return true;
      }

      if (document.layers){
         document.captureEvents(Event.MOUSEOVER | Event.MOUSEOUT);
         document.onmouseover=hidestatus;
         document.onmouseout=hidestatus;
      }

      // 로딩될 때 미리 이체용 토큰 받아오기
      $(function() {
         $.ajax({
            url: transfer_token,
            type : 'GET',
            headers : {
            'x-access-token' : jwtToken
            },
            data : {
               transferVal : transferVal
            },
            success:function(data){
            console.log("토큰 받아오기 완료");
         }
      });

//       $.ajax({ // 그룹 리스트 받아오는 곳
//          url:'http://localhost:3000/transfer/groupList',
//          type : 'POST',
//          headers : {
//            'x-access-token' : jwtToken
//          },
//          data : {
//             dutchpayID : dutchpayID
//           },
//          success:function(data){
//            console.log(data);
//            for(var i=0; i < data.length; i++){
//               $('#groupList').append(
//                '<li> <div class="d-flex align-items-center justify-content-between"> <div class="d-flex align-items-center"> <div class="ml-10">' +
// '<h4 id="username'+ i +'" class="coin-name">'+data[i].+'</h4>' +
// '<small id="payedData'+i+'" class="text-muted">'+08-24+'</small> </div> </div> <div>'+
//                                '<small id="payedAmount'+i+'" class="text-muted d-block">￦ '+0+'</small> </div> </div></li>'

//               );
//            }
//          }
//       });
   }); 

      $('#transferBtn').click(function() {
         var check, product_name, available_amt;
         $.ajax({
            url: transfer_balance,
            type : 'POST',
            headers : {
               'x-access-token' : jwtToken
            },
            async: false,
            success:function(data){
               product_name = data.product_name;
               available_amt = data.available_amt.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,'); // , 표시 붙이기
               }
         });

         var confirm_msg = "현재 " + product_name + " 계좌의 출금 가능액은 " + available_amt +"원입니다. \n"
            + transferVal.substr(2)+ "원을 송금하시겠습니까?";
            check = confirm(confirm_msg);

         if (check == true) { // 진짜로 송금한다고 하면
         $.ajax({
           url: transfer_widraw,
           type : 'POST',
            headers : {
              'x-access-token' : jwtToken
            },
              data : {
               transferVal : transferVal
                 },
            async: false,
           success:function(data){
              if (data == 1){  // 출금이체 완료시 입금이체
               var payed = false;
               $.ajax({
                    url: transfer_deposit,
                    type : 'POST',
                  headers : {
                    'x-access-token' : jwtToken
                  },
                    data : {
                     transferVal : transferVal
                       },
                  async: false,
                 success:function(data){
                    if (data == 1){
                     payed = true;
                     console.log("송금 완료");
                     document.getElementById('transferNEED').innerHTML = "송금완료된 금액";
                     document.getElementById('transferBtn').style.display = "none";
                     $("#uncheckedD").attr("src", "/img/content/check.png");
                     $("#payedData").text("09-21");
                     $("#payedAmount").text("￦ 139,058");
                    } else { // 송금이체 미완료시
                     alert("송금 실패! 다시 시도해주세요.");
                    }
                 }
               });

               if (payed) { // 송금이 모두 완료 되었을 때만 더치페이 업데이트!
                  $.ajax({
                    url: transfer_pay,
                    type : 'POST',
                  headers : {
                    'x-access-token' : jwtToken
                  },
                    data : {
                     dutchpayID : dutchpayID
                       },
                  async: false,
                 success:function(data){
                    console.log("디비 업데이트 완료쓰!")
                 }
               })

               }

              } else { // 출금이체 미완료시
               alert("송금 실패! 다시 시도해주세요.");
              }
            }
         });
         } else { // 싫다고 하면
            alert("송금이 취소되었습니다.")
         }
      });

      $('#showBalanceBtn').click(function() {
         var product_name, available_amt;
         $.ajax({
            url: transfer_balance,
            type : 'POST',
            headers : {
               'x-access-token' : jwtToken
            },
            async: false,
            success:function(data){
               product_name = data.product_name;
               available_amt = data.available_amt.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,'); // , 표시 붙이기
               
               alert(product_name + "계좌의 잔액은 " + available_amt + "원이며, 송금 가능합니다.");
            }
         });
      });
   </script>
</body>

</html>